process.executor = 'slurm'
process.queue = 'short'
process.memory = '10 GB'
process.time = '30 min'
process.cpus = 4
process.container = 'nextflow/rnaseq-nf'
docker.runOptions='-u $(id -u):$(id -g)'
docker.enabled = true
process {
    withName: quantification {
        cpus = 4
        memory = '8 GB'
        queue = 'long'    
    }    
}
